# Assignment 3 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Personal Details:

In [1]:
# Details Student 1:

# Details Student 2:

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [2]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [3]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [4]:
# word net installation:

# unmark if you want to use and need to install
# !pip install wn
# !python -m wn download omw-he:1.4

In [5]:
# word net import:

# unmark if you want to use:
import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [6]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
# !pip install hebrew_tokenizer

In [7]:
# Hebrew tokenizer import:

# unmark if you want to use:
import hebrew_tokenizer as ht

C:\Users\nirts\OneDrive\שולחן העבודה\תואר\שנה ב'\למידת מכונה\assignment3-text_analysis\assignment3-text_analysis

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [8]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [9]:
df_train.head(8)
df_train['gender'].value_counts()
df_train.shape

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

m    575
f    178
Name: gender, dtype: int64

(753, 2)

In [10]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [11]:
# YOUR CODE HERE

#Pre-process of the data:

#Encoding the target column (gender) where 'm' = 1 and 'f' = 0:
encoder = LabelEncoder()
df_train['gender'] = encoder.fit_transform(df_train['gender'])
df_train.head(8)

                                               story  gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...       1
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...       1
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...       0
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...       1
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...       0
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...       0
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...       1
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...       0

In [12]:
#Created a function for calculating the average f1 score:

def average_f1_score(y_true, y_pred):
    f1_male = f1_score(y_true, y_pred, pos_label=1)  # Calculate F1 score for male class
    f1_female = f1_score(y_true, y_pred, pos_label=0)  # Calculate F1 score for female class
    average_f1 = (f1_male + f1_female) / 2  # Calculate average F1 score
    return average_f1

average_f1_scorer = metrics.make_scorer(average_f1_score) #a make_scorer class for evaluation

In [13]:
#For convenient use:
stories = df_train['story']
gender = df_train['gender']

In [14]:
# YOUR CODE HERE

#In the assignment I wanted to check two different models for the analysis and decide which is better.
#Here there are two piplines object, one for Naive Bayes model and one for SVM model. For each I calculated the average F1 score
#of 10 fold cross validation
#At first I didn't set any hyper parameters and checked the scores. It was pretty low.

#Pipeline for Naive Bayes model:
pipeline_nb = Pipeline([
    ('vectorizer', TfidfVectorizer()),
    ('nb_clf', MultinomialNB())
])

#Pipeline for SVM model:
pipeline_svm = Pipeline([
    ('vectorizer', TfidfVectorizer()),
    ('svm_clf', LinearSVC())
])

#10 fold Cross validation score for NB:
cvScores_nb = cross_val_score(pipeline_nb, stories, gender, cv=10, scoring=average_f1_scorer)
average_cross_val_score_nb = np.mean(cvScores_nb)
print("Average Cross-Validation F1 Score for Naive Bayes:", average_cross_val_score_nb)

#10 fold Cross validation score for SVM:
cvScores_svm = cross_val_score(pipeline_svm, stories, gender, cv=10, scoring=average_f1_scorer)
average_cross_val_score_svm = np.mean(cvScores_svm)
print("Average Cross-Validation F1 Score for SVM:", average_cross_val_score_svm)

Average Cross-Validation F1 Score for Naive Bayes: 0.4329778822905296
Average Cross-Validation F1 Score for SVM: 0.540005301674019

In [15]:
#In order to raise the score, I tried some hyper parameters tuning combinations.
#Added ngram range of (1,2) to NB and disabled idf in the vectorizer for both models. For NB model I set alpha to 0.5
#Seems that the SVM score raised, but NB score didn't changed. So I decided to continue to train the SVM model

#Pipeline for Naive Bayes model:
pipeline_nb = Pipeline([
    ('vectorizer', TfidfVectorizer(ngram_range=(1,2), use_idf=False)),
    ('nb_clf', MultinomialNB(alpha=0.5))
])

#Pipeline for SVM model:
pipeline_svm = Pipeline([
    ('vectorizer', TfidfVectorizer(use_idf=False)),
    ('svm_clf', LinearSVC())
])

#10 fold Cross validation score for NB:
cvScores_nb = cross_val_score(pipeline_nb, stories, gender, cv=10, scoring=average_f1_scorer)
average_cross_val_score_nb = np.mean(cvScores_nb)
print("Average Cross-Validation F1 Score for Naive Bayes:", average_cross_val_score_nb)

#10 fold Cross validation score for SVM:
cvScores_svm = cross_val_score(pipeline_svm, stories, gender, cv=10, scoring=average_f1_scorer)
average_cross_val_score_svm = np.mean(cvScores_svm)
print("Average Cross-Validation F1 Score for SVM:", average_cross_val_score_svm)

Average Cross-Validation F1 Score for Naive Bayes: 0.4329778822905296
Average Cross-Validation F1 Score for SVM: 0.5963274583191005

In [16]:
#Tried to put 2.0 in the C hyper parameter of SVM, score is better

#Pipeline for SVM model:
pipeline_svm = Pipeline([
    ('vectorizer', TfidfVectorizer(use_idf=False)),
    ('svm_clf', LinearSVC(C=2.0))
])

#10 fold Cross validation score for SVM:
cvScores_svm = cross_val_score(pipeline_svm, stories, gender, cv=10, scoring=average_f1_scorer)
average_cross_val_score_svm = np.mean(cvScores_svm)
print("Average Cross-Validation F1 Score for SVM:", average_cross_val_score_svm)

Average Cross-Validation F1 Score for SVM: 0.6342822144410806

In [17]:
#Because C hyper parameter changed the score for good, I did grid search to see which value between 1 to 7 will give even better result

param_grid = {
    'svm_clf__C': [1,2,3,4,5,6,7]
}

gs = GridSearchCV(pipeline_svm, param_grid, cv=10, scoring=average_f1_scorer)
gs.fit(stories, gender)
print("Best Parameters:", gs.best_params_)
print("Best Average F1 Score:", gs.best_score_)

# C=7 value gave the best score

GridSearchCV(cv=10,
             estimator=Pipeline(steps=[('vectorizer',
                                        TfidfVectorizer(use_idf=False)),
                                       ('svm_clf', LinearSVC(C=2.0))]),
             param_grid={'svm_clf__C': [1, 2, 3, 4, 5, 6, 7]},
             scoring=make_scorer(average_f1_score))

Best Parameters: {'svm_clf__C': 7}
Best Average F1 Score: 0.6723603088199601

In [31]:
#Tried to put 7.0 in the C hyper parameter of SVM, score is much better

#Pipeline for SVM model:
pipeline_svm = Pipeline([
    ('vectorizer', TfidfVectorizer(use_idf=False)),
    ('svm_clf', LinearSVC(C=7.0))
])

#10 fold Cross validation score for SVM:
cvScores_svm = cross_val_score(pipeline_svm, stories, gender, cv=10, scoring=average_f1_scorer)
average_cross_val_score_svm = np.mean(cvScores_svm)
print("Average Cross-Validation F1 Score for SVM:", average_cross_val_score_svm)

Average Cross-Validation F1 Score for SVM: 0.6723603088199601

In [19]:
#Fit the SVM model before prediction
pipeline_svm.fit(stories, gender)

Pipeline(steps=[('vectorizer', TfidfVectorizer(use_idf=False)),
                ('svm_clf', LinearSVC(C=7.0))])

In [20]:
#Predict the test values:
predicted_values = pipeline_svm.predict(df_test['story'])
column_predicted = pd.DataFrame({'predicted_gender' : predicted_values})
df_predicted = pd.concat([df_test, column_predicted], axis=1)
df_predicted.loc[df_predicted['predicted_gender'] == 1, 'predicted_gender'] = 'm'
df_predicted.loc[df_predicted['predicted_gender'] == 0, 'predicted_gender'] = 'f'
df_predicted.head(5)
df_predicted.tail(5)
df_predicted['predicted_gender'].value_counts()

,test_example_id,story,predicted_gender
0,0,כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...,m
1,1,"הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת ""...",m
2,2,אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...,m
3,3,"רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...",m
4,4,אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...,m

,test_example_id,story,predicted_gender
318,318,"בשנה האחרונה הרגשתי די תקוע בעבודה, השגרה הפכה...",m
319,319,אני ואילן חברים טובים מזה 20 שנה תמיד חלמנו לפ...,m
320,320,מידי יום שישי אני נוהג לנסוע בתחבורה ציבורית ס...,m
321,321,"לפני מספר חודשים, בשיא התחלואה של הגל השני, עמ...",m
322,322,היום בו דיווחתי על גניבה של האוטו שלי. בוקר אח...,m

m    273
f     50
Name: predicted_gender, dtype: int64

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [21]:
df_predicted.to_csv('classification_results.csv',index=False)